.godot/
/android/

__pycache__/

venv/
.venv/
env/
.env/

.vscode/
.idea/

.env
.env.*

DommeBaby.exe
DommeBaby.pck
DommeBaby.console.exe

rewards.txt

/checkpoints/

actor_episode_*.pth
critic_episode_*.pth
best_actor.pth
best_critic.pth
